<header class="site-header">
  <div class="header-inner">
    <a class="site-brand" href="/" aria-label="{{ site.name }}, forside">
      <span>{{ site.shortName }}</span>
      <small>på Finnskogen</small>
    </a>
    <button class="menu-button" type="button" aria-expanded="false" aria-controls="site-navigation">
      Meny
    </button>
    {% include "components/navigation.njk" %}
  </div>
</header>

