---
layout: layouts/gallery.njk
title: Sommer i Risbergsmarka
description: Sommerbilder fra Risberget og omegn.
introduction: Natur og kulturlandskap i Risberget gjennom sommeren.
permalink: /bilder/sommer/
nav:
  label: Sommer
  order: 3
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Sommer
images:
  - src: /assets/images/galleries/summer/sommer-01.jpg
    alt: Elv med steiner omgitt av grønn skog.
    width: 1280
    height: 850
  - src: /assets/images/galleries/summer/sommer-botter-multe.jpg
    alt: Bøtter med multe i sommerlandskapet.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-ekorn.jpg
    alt: Et ekorn i den grønne sommernaturen.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-flueblom.jpg
    alt: Blomster i sommerfarger.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-hare.jpg
    alt: En hare i sommerskogen.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-landskap-myr.jpg
    alt: Sommerlandskap med myr og vegetasjon.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-landskap.jpg
    alt: Landskap om sommeren.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-multe.jpg
    alt: Multebær i sommerens natur.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-Skogmarihand.jpg
    alt: Skogmar i sommerlandskapet.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-10.jpg
    alt: Kulturlandskap om sommeren.
    width: 720
    height: 481
  - src: /assets/images/galleries/summer/sommer-slange.jpg
    alt: En slange i sommerskogen.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-Smalsoldogg-detalj.jpg
    alt: Detalj fra Småsoldogg i sommermiljøet.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-Smalsoldogg.jpg
    alt: Småsoldogg i sommerlandskapet.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-tarnfalk.jpg
    alt: En tarnfalk i sommernatur.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-15.jpg
    alt: Høyt sommermotiv i landskapet.
    width: 856
    height: 1279
---
