---
layout: layouts/gallery.njk
title: Vår i Risbergsmarka
description: Vårbilder fra Risberget og omegn.
introduction: Vårtegn og landskap fra Risberget og områdene rundt.
permalink: /bilder/var/
nav:
  label: Vår
  order: 2
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Vår
images:
  - src: /assets/images/galleries/spring/var-01.jpg
    alt: Elg foran grantrær.
    width: 1279
    height: 774
  - src: /assets/images/galleries/spring/var-Anemonastrum-flaccidum.jpg
    alt: Vårblomst.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-roy.jpg
    alt: En røy i vårområdet.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-snomus.jpg
    alt: Snømus i våren.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-storfugl-gren.jpg
    alt: Storfugl på gren om våren.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-06.jpg
    alt: Vår i landskapet.
    width: 1279
    height: 1007
  - src: /assets/images/galleries/spring/var-07.jpg
    alt: Naturmotiv om våren.
    width: 1280
    height: 1131
  - src: /assets/images/galleries/spring/var-tiur.jpg
    alt: Tiur i vårområdet.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-Vintererle.jpg
    alt: Vintererle i våren.
    width: 270
    height: 202
---
