---
layout: layouts/gallery.njk
title: Vinter i Risbergsmarka
description: Vinterbilder fra Risberget og omegn.
introduction: Et utvalg vinterbilder fra det arkiverte nettstedet.
permalink: /bilder/vinter/
nav:
  label: Vinter
  order: 1
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Vinter
images:
  - src: /assets/images/galleries/winter/vinter-01.jpg
    alt: Snødekt landskap i Risbergsmarka.
    width: 1279
    height: 797
  - src: /assets/images/galleries/winter/vinter-bjerk-storfugl-solnedgang.jpg
    alt: Bjerk og storfugl i solnedgangsvinter ved Risberget.
    width: 1280
    height: 960
  - src: /assets/images/galleries/winter/vinter-elg-profil.jpg
    alt: Elg i profil i vinterlandskapet ved Risberget.
    width: 1279
    height: 847
  - src: /assets/images/galleries/winter/vinter-rev.jpg
    alt: Rev i vintermiljøet rundt Risberget.
    width: 1280
    height: 809
  - src: /assets/images/galleries/winter/vinter-soldekt-landskap.jpg
    alt: Soldekt landskap med snø i Risbergsmarka.
    width: 1280
    height: 850
  - src: /assets/images/galleries/winter/vinter-solnedgang.jpg
    alt: Vinterens solnedgang over Risberget.
    width: 1280
    height: 720
  - src: /assets/images/galleries/winter/vinter-to-elger.jpg
    alt: To elger i vinterlandskapet ved Risberget.
    width: 1280
    height: 720
---
