---
layout: layouts/page.njk
title: Nyttige lenker
description: Eksterne ressurser om arkiver, Finnskogen, slektsforskning og nasjonale minoriteter.
introduction: Oppdaterte innganger til ressurser som var lenket fra det gamle nettstedet.
permalink: /lenker/
breadcrumbs:
  - label: Nyttige lenker
---
<ul class="link-list">
  <li>
    <a href="https://www.digitalarkivet.no/">Digitalarkivet</a>
    <p>Søk i folketellinger, kirkebøker og andre historiske kilder.</p>
  </li>
  <li>
    <a href="https://www.dnt.no/finnskogen">DNT Finnskogen og Omegn</a>
    <p>Turinformasjon og aktiviteter på Finnskogen.</p>
  </li>
  <li>
    <a href="https://www.familytreedna.com/">FamilyTreeDNA</a>
    <p>Internasjonal tjeneste for DNA-basert slektsforskning.</p>
  </li>
  <li>
    <a href="https://www.udir.no/laring-og-trivsel/nasjonale-minoriteter/">Utdanningsdirektoratet: nasjonale minoriteter</a>
    <p>Informasjon og ressurser om Norges nasjonale minoriteter.</p>
  </li>
  <li>
    <a href="https://www.facebook.com/groups/511388705649336/">Facebook-gruppe fra det gamle nettstedet</a>
    <p>Ekstern Facebook-gruppe. Tilgjengelighet og innhold styres av Facebook.</p>
  </li>
  <li>
    <a href="https://www.facebook.com/Risberget-kulturhistoriske-forening-1622506681338765">Risberget kulturhistoriske forening på Facebook</a>
    <p>Den Facebook-siden som var lenket fra det gamle nettstedet.</p>
  </li>
</ul>

