---
layout: layouts/page.njk
title: Årsmøteprotokoll 2022
description: Skannet årsmøteprotokoll fra Risberget kulturhistoriske forening i 2022.
introduction: Skannet protokoll fra arkivet.
permalink: /foreningen/arsmoteprotokoller/2022/
breadcrumbs:
  - label: Foreningen
    url: /foreningen/
  - label: Årsmøteprotokoller
    url: /foreningen/arsmoteprotokoller/
  - label: År 2022
---
<figure>
  <img
    class="document-image"
    src="/assets/images/documents/arsmoteprotokoll-2022.jpg"
    alt="Skannet årsmøteprotokoll for 2022."
    width="595"
    height="837">
</figure>

