---
layout: layouts/page.njk
title: Årsmøteprotokoll 2023
description: Skannet årsmøteprotokoll fra Risberget kulturhistoriske forening i 2023.
introduction: To skannede sider fra protokollen.
permalink: /foreningen/arsmoteprotokoller/2023/
breadcrumbs:
  - label: Foreningen
    url: /foreningen/
  - label: Årsmøteprotokoller
    url: /foreningen/arsmoteprotokoller/
  - label: År 2023
---
<figure>
  <img
    class="document-image"
    src="/assets/images/documents/arsmoteprotokoll-2023-side-1.jpg"
    alt="Første skannede side av årsmøteprotokollen for 2023."
    width="594"
    height="778">
</figure>
<figure>
  <img
    class="document-image"
    src="/assets/images/documents/arsmoteprotokoll-2023-side-2.jpg"
    alt="Andre skannede side av årsmøteprotokollen for 2023."
    width="594"
    height="530"
    loading="lazy">
</figure>

