---
layout: layouts/page.njk
title: Årsmøteprotokoll 2025
description: Protokoll fra årsmøtet i Risberget kulturhistoriske forening 17. august 2025.
introduction: Skannet protokoll fra årsmøtet i Risberget kulturhistoriske forening 17. august 2025.
permalink: /foreningen/arsmoteprotokoller/2025/
breadcrumbs:
  - label: Foreningen
    url: /foreningen/
  - label: Årsmøteprotokoller
    url: /foreningen/arsmoteprotokoller/
  - label: År 2025
---
<figure>
  <img
    class="document-image"
    src="/assets/images/documents/arsmoteprotokoll-2025.jpg"
    alt="Skannet protokoll fra årsmøtet 17. august 2025."
    width="551"
    height="649">
</figure>

